.tierButt {
    align-content: center;
    width: 100px !important;
    margin-top: 20px;
    padding: 10px;
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #45384f;
    border: none; 
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.2);
    text-align:center;
    color: #EDEFFF;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 10px;
}

.tierCard {
    border-radius: 0px !important;
    margin-bottom: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}